<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <link href="/backend/stylesheets/application.css" media="all" rel="stylesheet" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
